

.main{
    width: 100%;
    background-image: url('images/SkinPage/SkinSlidePage1.jpg');
    background-position: center;
    background-size: cover;
    height: 109vh;
    animation: changeBackground 10s infinite;
}
@keyframes changeBackground {
    0% {
        background-image: url('images/SkinPage/SkinSlidePage2.jpg');
    }
    30% {
        background-image: url('images/SkinPage/SkinSlidePage3.jpg');
    }
}
.main-content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #000000;
    position: relative;
}
.main-content div {
    padding-left: 115px;
    padding-bottom: 37px;
    font-family: Helvetica;
    letter-spacing: 1.2px;
    padding-top: -12px;
    font-size: 28px;
}
.main-content h3 {
    padding-left: 514px;
    padding-bottom: 26px;
    font-family: 'Times New Roman';
    letter-spacing: 1px;
    padding-top: 197px;
    font-size: 45px;
}
.main-content button {
    background-color: rgb(250, 71, 131);
    padding: 2px;
    color: rgb(255, 255, 255);
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 514px;
}
.Moisturizers button,
.Masks button,
.Toners button{
    font-family: Helvetica;
    font-size: 25px;
    margin-left: 110px;
    background-color: black;
    color: white;
    width: 10rem;
    height: 4rem;
    border-radius: 8px;
    margin-top: 50px;
}
.card-heading{
    margin: 92px;
    font-family: Helvetica;
    font-size: 25px;
    margin-left: 490px;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    grid-auto-flow: column;
    grid-auto-columns: calc((100/3) - 12px);
  }

  .card{
    width: 270px;
    background-color:rgb(250, 177, 217);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 15px;
  }

  .card img{
    width: 100%;
    height: auto;
  }
  .card-content{
    padding: 12px;
    text-align: center;
  }
  .card-content b{
    font-size: 18px;
    margin-bottom: 8px;
    font-family: Helvetica;
  }
  .card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
  }
  .card-content button {
      --color: #e41717;
      font-family: inherit;
      display: inline-block;
      width: 8em;
      height: 2.6em;
      line-height: 2.5em;
      margin: 20px;
      position: relative;
      overflow: hidden;
      border: 2px solid var(--color);
      transition: color .5s;
      z-index: 1;
      font-size: 17px;
      border-radius: 6px;
      font-weight: 500;
      color: var(--color);
      text-transform: uppercase;
     }
     
     button:before {
      content: "";
      position: absolute;
      z-index: -1;
      background: var(--color);
      height: 150px;
      width: 200px;
      border-radius: 50%;
     }
     
     button:hover {
      color: #fff;
     }
     
     button:before {
      top: 100%;
      left: 100%;
      transition: all .7s;
     }
     
     button:hover:before {
      top: -30px;
      left: -30px;
     }
     
     button:active:before {
      background: #3a0ca3;
      transition: background 0s;
     }

    